
.registerContainer {
    max-width: 400px;
    margin: 5rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .registerContainer h1 {
    text-align: center;
  }
  
  .registerContainer form div {
    margin-bottom: 15px;
  }
  
  .registerContainer label {
    display: block;
    margin-bottom: 5px;
  }
  
  .registerContainer input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registerContainer button {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registerContainer button:hover {
    background-color: #005bb5;
  }
  